.footer {
  padding: 30px 10px;

  &-main {
    display: flex;
    justify-content: center;
  }

  @media (min-width: 1200px) {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    &-main {
      justify-content: flex-end;
    }
  }
}
